@charset "utf-8";
/*
版本:	2010-04-14
*/
* html { ie6PngRepair:false; }/*设置主题是否针对IE6应用PNS透明与背景定位修复*/
.ui_dialog { font-family:'微软雅黑'; }
.ui_border { filter:alpha(opacity=30); opacity:0.3; }/*设置外边框透明度*/
.ui_overlay div { height:100%; background:#000; filter:alpha(opacity=70); opacity:0.7; }/*设置遮罩颜色与透明度*/
* html .ui_ie6_select_mask { display:none!important; }/*不在IE6强制遮盖下拉控件，因为要展现半透明边框*/
.ui_move .ui_title_text { color:#FFF; }
.ui_move .ui_border { filter:alpha(opacity=40); opacity:0.4; }
.ui_dialog_main { background-color:#FFF; border:1px solid #4E84C0!important; }
.ui_close, .r0d0, .r0d2, .r2d0, .r2d2 { width:10px; height:10px; background-image:url(./dialog.png); background-repeat:no-repeat; }
.ui_title { height:100%; position:relative; }
.ui_title_text { height:30px; line-height:30px; padding:0 30px 0 10px; background-color:#214FA3; font-weight:700; color:#EBEBEB; }
.ui_close { width:13px; height:13px; top:8px; right:8px; text-align:left; text-indent:-9999em; overflow:hidden; background-position:center center; _font-size:0; _line-height:0; }
.ui_close:hover { background-color:#1D448C; }
.ui_resize { width:8px; height:8px; }
.ui_btns { background-color:#F9F9F9; }
.ui_btns button { height:2em; line-height:2em; padding:0 5px; border-color:#FFF #848484 #848484 #FFF; border-style:solid; border-width:1px; color:#000; text-align:center; letter-spacing:2px; background-color:#F8F8F8; }
.ui_btns .ui_yes button { background-color:#3A6EA5; color:#FFF; border-color:#84A6E6 #122B58 #122B58 #84A6E6; cursor:pointer; }
.ui_btns .ui_yes:hover button { background-color:#2251A8; }
.ui_border.r0d0 { background-position:left top; }
.ui_border.r0d2 { background-position:right top; }
.ui_border.r2d2 { background-position:right bottom; }
.ui_border.r2d0 { background-position:left bottom; }
.ui_border.r0d1, .ui_border.r1d2, .ui_border.r2d1, .ui_border.r1d0 { background-color:#000; }


/*
主题拓展参数[可添加组合在'style'参数中]
*/

/*图标*/
.ui_dialog_icon {  }
.alert .ui_dialog_icon { }/*警告消息*/
.confirm .ui_dialog_icon {}/*询问消息*/
.error .ui_dialog_icon {}/*错误消息*/
.succeed .ui_dialog_icon {}/*成功消息*/
/*直角边框*/
.noRadius .ui_border { background:#000 none; }
/*无外边框*/
.noBorder .ui_border { display:none; }
/*没有标题栏*/
.noTitleBar .ui_title_wrap { height:0; _display:none; visibility:hidden; }
/*无标题文字*/
.noTitle .ui_title_text { visibility:hidden; height:15px; overflow:hidden; }
.noTitle .ui_close { top:1px; right:1px; }
.noTitle .ui_content { margin-top:0; }
/*无关闭按钮*/
.noClose .ui_close { display:none; }
/*无任何风格*/
.noSkin .ui_border, .noSkin .ui_title_wrap, .noSkin .ui_dialog_icon { display:none; }
.noSkin .ui_bottom_wrap { display:none; *display:block; *height:0; overflow:hidden; }
* html .noSkin .ui_btns { height:0; overflow:hidden; position:absolute; left:-99999em; }
.noSkin .ui_content { margin:0; }
.noSkin .ui_dialog_main { background:transparent; }