<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans default-autowire="byName">


	<!-- 更新用户信息 -->
	<bean id="userAction" class="com.hdfs.user.action.userAction" scope="prototype">
		<property name="userservice" ref="userServiceImpl"></property>	
		<property name="fileservice" ref="fileServiceImpl"></property>
	</bean>
	<bean id="listUserAction" class="com.hdfs.user.action.ListUserAction" scope="prototype">
		<property name="userservice" ref="userServiceImpl"></property>	
	</bean>
	
	<bean id="userServiceImpl" class="com.hdfs.user.serviceImpl.userServiceImpl">
	<property name="userdao" ref="userImpl"></property>	
	<property name="filedao" ref="fileImpl"></property>	
	</bean>
	
	
	
	
	

	<bean id="fileServiceImpl" class="com.hdfs.file.serviceImpl.fileServiceImpl">
	<property name="filedao" ref="fileImpl"></property>	
	<property name="userdao" ref="userImpl"></property>	
	</bean>
	
	<bean id="fileImpl" class="com.hdfs.file.daoImpl.fileImpl" />
	<bean id="userImpl" class="com.hdfs.user.daoImpl.userImpl" />
</beans>

